<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibrarrySystem</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    
    <link rel="stylesheet" href="~/css/transaction.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibrarrySystem.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

    <div class="wrapper">
        <div class="sidebar">
            <center>
                <img src="~/lib/lib.jpg" class="profile_image" alt="" />
                <h6>LIBRARRY MANAGEMENT SYSTEM</h6>
            </center>
            <ul class="list-group">

                <li><a asp-action="Index" asp-controller="Home"><i class="fas fa-gauge"></i><span>Dashboard</span></a></li>

                <li class="sub-list">
                    <a href="#" class="sub-btn"><i class="fas fa-exchange"></i><span>Transaction <i class="fas fa-angle-right dropdown"></i></span></a>
                    <ul class="list-group sub-menu">
                        <li>
                            <a asp-action="Index" asp-controller="Transaction" class="sub-item">Borrow</a>
                            <a asp-action="Reserve" asp-controller="Transaction" class="sub-item">Reserve</a>
                            <a asp-action="Return" asp-controller="Transaction" class="sub-item">Return</a>
                        </li>
                    </ul>
                </li>

                <li><a asp-action="Index" asp-controller="Books"><i class="fas fa-book"></i><span>Books</span></a></li>
                <li><a asp-action="Index" asp-controller="Students"><i class="fas fa-user-pen"></i><span>Students</span></a></li>
                <li class="sub-list">
                    <a href="#" class="sub-btn"><i class="fas fa-file-lines"></i><span>Reports <i class="fas fa-angle-right dropdown"></i></span></a>
                    <ul class="list-group sub-menu">
                        <li>
                            <a asp-action="Index" asp-controller="Reports" class="sub-item">Students</a>
                            <a asp-action="Transaction" asp-controller="Reports" class="sub-item">Transaction</a>
                            <a asp-action="Books" asp-controller="Reports" class="sub-item">Books</a>
                        </li>
                    </ul>
                </li>
                <li><a asp-action="Index" asp-controller="Maintenance"><i class="fas fa-gear"></i><span>Maintenance</span></a></li>
            </ul>
        </div>

        <div class="main_content">

            <div class="header">
                <div class="row">
                    <div class="col-sm-6">
                        <a>@TempData["HeaderTitle"]</a>
                    </div>
                    <div class="col-sm-6 d-flex justify-content-end">
                        <a asp-action="Login" asp-controller="Maintenance">LOGOUT</a>
                    </div>
                </div>
            </div>

            <main role="main" class="body_container p-4">
                @RenderBody()
            </main>

            <footer class="d-flex justify-content-center border">
                <p style="padding-top: 8px">&copy; @DateTime.Now.Year - Librarry Management System (Ferdinand Roxas)</p>
            </footer>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function(){
            $('.sub-btn').click(function(){
                $(this).next('.sub-menu').slideToggle();
                $(this).find('.dropdown').toggleClass('rotate');
            });
        });
    </script>
</body>
</html>
