<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibrarrySystem</title>

    @*<link rel="stylesheet" href="~/css/preloader.css" />*@
    @*<link rel="stylesheet" href="~/css/pagestyle.scss" />
    <link rel="stylesheet" href="~/css//sidebarstyle.scss" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibrarrySystem.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

    <header>
        <div class="left_area">
            <h3>Hindang National HS</h3>
        </div>
        <div class="right_area">
            <a href="#" class="logout_btn">Logout</a>
        </div>
    </header>

    <div class="sidebar">
        <center>
            <img src="~/lib/lib.jpg" class="profile_image" alt="" />
            <h4>Librarry System</h4>
        </center>

        <a asp-action="Index" asp-controller="Home">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
        </a>
        <a asp-action="Index" asp-controller="Home">
            <i class="fa-solid fa-tent-arrow-left-right"></i>
            <span>Transaction</span>
        </a>
        <a asp-action="Login" asp-controller="Maintenance">
            <i class="fa-solid fa-info-circle"></i>
            <span>About</span>
        </a>
        <a asp-action="Privacy" asp-controller="Home">
            <i class="fa-solid fa-address-card"></i>
            <span>Contact</span>
        </a>
    </div>

    <div class="container-fluid">
        <main role="main" class="body_container" >
            @RenderBody()
        </main>
    </div>
    
            @*<footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2022 - LibrarrySystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
