@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="dashboard">
        <div class="row">
            <div class="col-sm-4">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <h5 class="card-title">Student Registered</h5>
                                <a asp-action="Index" asp-controller="Students" class="btn btn-outline-dark mt-5">See more</a>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-center align-items-center">
                                <h1 class="card-text" style="font-size: 80px">40</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <h5 class="card-title">Total Borrower</h5>
                                <a asp-action="Index" asp-controller="Students" class="btn btn-outline-dark mt-5">See more</a>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-center align-items-center">
                                <h1 class="card-text" style="font-size: 80px">30</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <h5 class="card-title">Unreturned Records</h5>
                                <a asp-action="Index" asp-controller="Students" class="btn btn-outline-dark mt-5">See more</a>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-center align-items-center">
                                <h1 class="card-text" style="font-size: 80px">20</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <hr />
        <br />
        <br />
        <div class="row">
            <div class="col-sm-4">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <h5 class="card-title">Book Registered</h5>
                                <a asp-action="Index" asp-controller="Books" class="btn btn-outline-dark mt-5">See more</a>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-center align-items-center">
                                <h1 class="card-text" style="font-size: 80px">20</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <h5 class="card-title">Issued Books</h5>
                                <a asp-action="Index" asp-controller="Books" class="btn btn-outline-dark mt-5">See more</a>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-center align-items-center">
                                <h1 class="card-text" style="font-size: 80px">30</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <h5 class="card-title">Unreturned Books</h5>
                                <a asp-action="Index" asp-controller="Books" class="btn btn-outline-dark mt-5">See more</a>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-center align-items-center">
                                <h1 class="card-text" style="font-size: 80px">10</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>